{% extends "base.html.twig" %}
{% block title %}
        <h1>Employee id {{employee.id}} edit</h1>
{% endblock %}

{% block content %}
        <div class="card" style="width: 50%">
                <div class="card-body">

                        <form method="post" action="{{ path_for('edit_post',{"id":employee.id})}}" >

                             {%  include 'partials/form.html.twig' %}

                                <div class="row py-4">
                                        <div class="col-12">
                                                <div class="d-flex justify-content-between">

                                                        <div class="d-flex justify-content-start">
                                                                <a  class="btn btn-secondary"
                                                                    href="{{ path_for('view',{"id":employee.id})}}">
                                                                        Cancel
                                                                </a>
                                                        </div>
                                                        <div class="cd-flex justify-content-end">
                                                                {% if employee.id %}
                                                                <button type="submit" name="delete"
                                                                        class="btn btn-danger mr-2">
                                                                        Delete
                                                                </button>
                                                                {% endif %}
                                                                <button type="submit" name="save"
                                                                        class="btn btn-success">
                                                                        Save
                                                                </button>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                        </form>

                </div>
        </div>
{% endblock %}
